body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}


.svgs {
    position: absolute;
    margin-top: 50px;
    left: 70%;
    display: flex;
    gap: 40px;
    height: 50px;

    & a {
        background-color: black;
        border-radius: 50%;
        width: 60px;
        display: flex;
        align-items: center;
    }

    & svg {
        padding: 10px;
        width: 70%;
        height: 30px;
        color: #ffffff;

    }



    & .catalogo-svg {
        width: 90px;
        height: 50px;
        margin-top: -4px;

    }


}

.fundo {
    position: fixed;
    background-image: url(img/funfo.loja.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.lupa {
    position: absolute;
    left: -9%;
    top: 1%;
    padding: 6px;
    border: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: #ffffff;
}

.pesquisar {
    border-radius: 8px;
    padding: 8px;
    border: none;
    width: 290px;
    display: flex;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;

}

.caixa-pesquisa {
    position: absolute;
    left: 40%;
    margin-top: 150px;
}

.botoes {
    position: absolute;
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-top: 250px;
    left: 39.5%;

    & button {
        padding: 12px 30px;
        border: none;
    }
}

.produtos1 {
    position: absolute;
    width: 100%;
    right: 3.4%;


    & p:nth-of-type(1) {
        color: #ffffff;
        position: absolute;
        top: 60%;
        left: 10%;
        font-family: "Story Script", cursive;
        font-size: 22px;
        max-width: 80%;
    }

    & p:nth-of-type(2) {
        color: #ffffff;
        position: absolute;
        font-size: 15px;
        max-width: 80%;
        top: 75%;
        left: 10%;
        font-family: "Story Script", cursive;
    }

    & p:nth-of-type(3) {
        color: #ffffff;
        position: absolute;
        top: 85%;
        left: 10%;
        font-family: "Story Script", cursive;

    }

}

.camiseta {
    display: flex;
    background-color: #000000;
    padding: 200px 30px;
    position: absolute;
    margin-top: 320px;
    left: 5%;
    border-radius: 10px;
    box-shadow: 20px 10px 30px -2px rgba(0, 0, 0, 0.8);

    &:hover {
        background-color: #252424;
    }


    & img {
        width: 220px;
        height: 250px;
        margin-top: -150px;

    }
}

.camiseta2 {
    display: flex;
    background-color: #000000;
    padding: 200px 30px;
    position: absolute;
    margin-top: 320px;
    left: 25%;
    border-radius: 10px;
    box-shadow: 20px 10px 30px -2px rgba(0, 0, 0, 0.8);

    &:hover {
        background-color: #252424;
    }




    & img {
        width: 220px;
        height: 250px;
        margin-top: -150px;

    }
}

.camiseta3 {
    display: flex;
    background-color: #000000;
    padding: 200px 30px;
    position: absolute;
    margin-top: 320px;
    left: 45%;
    border-radius: 10px;
    box-shadow: 20px 10px 30px -2px rgba(0, 0, 0, 0.8);

    &:hover {
        background-color: #252424;
    }



    & img {
        width: 220px;
        height: 250px;
        margin-top: -150px;

    }
}

.camiseta4 {
    display: flex;
    background-color: #000000;
    padding: 200px 30px;
    position: absolute;
    margin-top: 320px;
    left: 65%;
    border-radius: 10px;
    box-shadow: 20px 10px 30px -2px rgba(0, 0, 0, 0.8);

    &:hover {
        background-color: #252424;
    }



    & img {
        width: 220px;
        height: 250px;
        margin-top: -150px;

    }
}

.camiseta5 {
    display: flex;
    background-color: #000000;
    padding: 200px 30px;
    position: absolute;
    margin-top: 320px;
    left: 85%;
    border-radius: 10px;
    box-shadow: 20px 10px 30px -2px rgba(0, 0, 0, 0.8);

    &:hover {
        background-color: #252424;
    }



    & img {
        width: 220px;
        height: 250px;
        margin-top: -150px;

    }
}

.produtos2 {
    position: absolute;
    width: 100%;
    right: 3.4%;
    margin-top: 80px;


    & p:nth-of-type(1) {
        color: #ffffff;
        position: absolute;
        top: 60%;
        left: 10%;
        font-family: "Story Script", cursive;
        font-size: 22px;
        max-width: 80%;
    }

    & p:nth-of-type(2) {
        color: #ffffff;
        position: absolute;
        font-size: 15px;
        max-width: 80%;
        top: 75%;
        left: 10%;
        font-family: "Story Script", cursive;
    }

    & p:nth-of-type(3) {
        color: #ffffff;
        position: absolute;
        top: 85%;
        left: 10%;
        font-family: "Story Script", cursive;

    }


}

.camiseta6 {
    display: flex;
    background-color: #000000;
    padding: 200px 30px;
    position: absolute;
    margin-top: 820px;
    left: 5%;
    border-radius: 10px;
    box-shadow: 20px 10px 30px -2px rgba(0, 0, 0, 1);

    &:hover {
        background-color: #252424;
    }


    & img {
        width: 220px;
        height: 250px;
        margin-top: -150px;

    }
}

.camiseta7 {
    display: flex;
    background-color: #000000;
    padding: 200px 30px;
    position: absolute;
    margin-top: 820px;
    left: 25%;
    border-radius: 10px;
    box-shadow: 20px 10px 30px -2px rgba(0, 0, 0, 0.8);

    &:hover {
        background-color: #252424;
    }




    & img {
        width: 220px;
        height: 250px;
        margin-top: -150px;

    }
}

.camiseta8 {
    display: flex;
    background-color: #000000;
    padding: 200px 30px;
    position: absolute;
    margin-top: 820px;
    left: 45%;
    border-radius: 10px;
    box-shadow: 20px 10px 30px -2px rgba(0, 0, 0, 0.8);

    &:hover {
        background-color: #252424;
    }



    & img {
        width: 220px;
        height: 250px;
        margin-top: -150px;

    }
}

.camiseta9 {
    display: flex;
    background-color: #000000;
    padding: 200px 30px;
    position: absolute;
    margin-top: 820px;
    left: 65%;
    border-radius: 10px;
    box-shadow: 20px 10px 30px -2px rgba(0, 0, 0, 0.8);

    &:hover {
        background-color: #252424;
    }



    & img {
        width: 220px;
        height: 250px;
        margin-top: -150px;

    }
}

.camiseta10 {
    display: flex;
    background-color: #000000;
    padding: 200px 30px;
    position: absolute;
    margin-top: 820px;
    left: 85%;
    border-radius: 10px;
    box-shadow: 20px 10px 30px -2px rgba(0, 0, 0, 0.8);

    &:hover {
        background-color: #252424;
    }



    & img {
        width: 220px;
        margin-top: -150px;
        height: 250px;

    }
}

footer {

    background-color: #ada9a9;
    display: flex;
    gap: 120px;
    padding: 90px 0px;
    color: #ffffff;
    margin-bottom: 0px;
    position: absolute;
    top: 200%;


    & a {
        text-decoration: none;
        color: #ffffff;

        &:hover {
            color: #d3d1d1;
        }
    }
}

.links {
    display: flex;
    flex-direction: column;
    margin-left: 190px;
}

.sobre {
    width: 40%;

    & p {
        width: 100%;
    }
}

.rodape-contato {
    display: flex;
    flex-direction: column;
}

.empresa {
    background-color: #514f4f;
    color: #ffffff;
    padding: 10px 0px;
    position: absolute;
    top: 240%;
    width: 100%;

    & p {
        margin-left: 190px;
    }
}