body {
    background-color: #c6c6c4;
    font-family: "Antic Slab", serif;
}

header {
    height: 190px;
    box-shadow: 0 8px 12px 2px rgba(0, 0, 0, 0.2);
    position: fixed;
    width: 100%;
    display: flex;
    background-color: #c6c6c4;
    z-index: 4;


}

header::before {
    height: 90px;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.5) 10%,
            /* Início menos preto */
            rgba(0, 0, 0, 0.3) 50%,
            /* Sombra principal até 50% */
            rgba(0, 0, 0, 0.1) 75%,
            /* Sombra continua até 80% */
            rgba(0, 0, 0, 0) 100%
            /* Transparente em 100% */
        );

}


.pesquisar {
    border-radius: 20px;
    border: none;
    background-color: black;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    padding: 8px;
    box-shadow: 0 8px 6px -2px rgba(0, 0, 0, 0.6);


}

.efeito {
    width: 450px;
    margin-top: -20px;
    margin-left: -40px;
}

.lupa {
    color: #ffffff;
    position: absolute;
    top: 0%;
    left: -15%;
    background-color: black;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 8px;
    border: none;
    box-shadow: 9px 8px 6px -2px rgba(0, 0, 0, 0.6);
}

.caixa-pesquisa {
    position: relative;
    margin-top: 60px;
    margin-left: -310px;




}

.img-cabecalho {
    display: flex;
    width: 100%;
    max-height: 700px;
    border: none;
    position: absolute;
    z-index: 0;
    top: -5%;
}

.svgs {
   
    position: absolute;
    margin-top: 70px;
    left: 70%;
    display: flex;
    gap: 40px;
    height: 55px;

    & svg {
        padding: 10px;
        color: white;
        width: 90px;
        height: 45px;
    }

    & .catalogo-svg {
        width: 90px;
        height: 60px;
        margin-top: -8px;
    }


}

.usuario {

    & svg {
        background-color: transparent;
        height: 60px;
        border-radius: 50%;
        padding: 10px;
        width: 60px;

    }
}

.img-cidade {
    width: 800px;
    height: 100%;
    margin-left: 100px;
}

.caixa-fundo1 {
    background-color: rgb(58, 56, 56);
    margin-top: 90px;
    height: 600px;
    position: absolute;
    top: 120%;
    z-index: -1;

    & .caixa-texto {
        margin-top: 200px;
        color: #ffffff;
    }

    & h3 {
        font-size: 40px;
        margin-left: 100px;
    }

    & p {
        max-width: 30%;
        margin-left: 100px;
    }
}

.caixa-texto2 {
    position: absolute;
    top: 220%;
    margin-left: 100px;
}

.carrosel {
    display: flex;
    width: 980px;
    margin-left: 100px;
    margin-top: 590px;
    gap: 90px;


    & img {
        width: 260px;
        height: 290px;

    }

    & p {
        margin-left: -10px;
    }

    & .jaqueta {
        display: inline;
        text-align: center;
    }

    & .conjunto {
        display: inline;
        text-align: center;
    }

    & .saia {
        display: inline;
        text-align: center;
    }

    & .camiseta {
        display: inline;
        text-align: center;
    }
}

.caixa-texto3 {
    margin-left: 100px;
    margin-top: 200px;

    & p:nth-child(1) {
        font-size: 40px;
    }
}

.svgs2 {
    display: flex;
    justify-content: center;
    gap: 120px;
}

.envio {
    border-top: 1px solid #ada9a9;
    width: 320px;
    text-align: center;

    & p:nth-child(2) {
        font-weight: bold;
        font-size: 23px;
    }
}

.chat {
    border-top: 1px solid #ada9a9;
    width: 320px;
    text-align: center;

    & p:nth-child(2) {
        font-weight: bold;
        font-size: 23px;
    }
}

.location {
    border-top: 1px solid #ada9a9;
    width: 320px;
    text-align: center;

    & p:nth-child(2) {
        font-size: 23px;
        font-weight: bold;
    }
}

.contato-fundo {
    background-color: #ffffff;
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: right;
    border-radius: 8px;
    margin-top: 120px;

    & p {
        text-align: left;
        font-size: 40px;


    }

    & button {
        width: 160px;
        padding: 10px 0px;
        background-color: rgb(58, 56, 56);
        color: white;
        border: none;
        border-radius: 10px;
        cursor: pointer;

        &:hover {
            background-color: rgb(84, 82, 82);
        }
    }

}

.caixa-contato {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 90px;

}

.racionais-img {
    width: 500px;
    height: 100%;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}

footer {
    margin-top: 220px;
    background-color: #ada9a9;
    display: flex;
    gap: 120px;
    padding: 90px 0px;
    color: #ffffff;


    & a {
        text-decoration: none;
        color: #ffffff;

        &:hover {
            color: #d3d1d1;
        }
    }
}

.links {
    display: flex;
    flex-direction: column;
    margin-left: 190px;
}

.sobre {
    width: 40%;

    & p {
        width: 100%;
    }
}

.rodape-contato {
    display: flex;
    flex-direction: column;
}

.empresa {
    background-color: #514f4f;
    color: #ffffff;
    padding: 10px 0px;

    & p {
        margin-left: 190px;
    }
}